h6{
  font-size: large;
  font-style: italic;
}
.App {
  font-family: sans-serif;
  text-align: center; 
}
.movie-poster
{
  width:340px;
  height:500px;
  object-fit:cover;
}
.movie-container
{
  
  width:340px;
}
.movie-specs
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-name
{
  font-size: 24px;
  margin:0;
}
.movie-summary
{
  margin-top:0;
}
.movie-rating
{
  font-size: 28px;
}
.movie-list
{
  display:flex;
  gap:16px;
  flex-wrap: wrap;
  justify-content: space-around;
}
button.like{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	color: rgba(0,150,136 ,1);
	background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
	border-width: 1px;
	font-size: 15px;
}
button.dislike{
	width: 50px;
	height: 50px;
	margin: 0 auto;

	color: rgba(255,82,82 ,1);
	background-color: rgba(255,138,128 ,0.3);
	border-color: rgba(255,82,82 ,1);
	border-width: 1px;
	font-size: 15px;
 
}

.same
{
  display:flex;
  gap:9px;
 
}